<html>
    <head>
        <title>{% block title %}Le CoinTreau{% endblock %}</title>
        <link href="../../../web/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ asset('css/general.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="header col-md-12">
            {% block header %}
                <p class="logo col-md-1"><a href="{{ path('index') }}"><img src="{{ asset('img/logo.png') }}" alt="logo" width="100px" height="100px" /></a></p>
                <h1 class="titre col-md-3">Le CoinTreau</h1>
                <div class="clear"></div>
                <ul class="menu col-md-12">
                    <li><a href="{{ path('index') }}">Accueil</a></li>
                    <li><a href="{{ path('add') }}">Déposer une annonce</a></li>
                    <li><a href="{{ path('list') }}">Liste / recherche des annonces</a></li>
                    <li><a href="{{ path('index') }}">Inscription / Connexion</a></li>
                    <li><a href="{{ path('index') }}">Mes annonces</a></li>
                    <li><a href="{{ path('index') }}">Mes favoris</a></li>
                    <li><a href="{{ path('faq') }}">FAQ</a></li>
                    <li><a href="{{ path('cgu') }}">CGU</a></li>
                </ul>
                <div class="clear"></div>
                <hr />
            {% endblock %}
            </div>
            <div class="body col-md-12">
            {% block body %}{% endblock %}
        </div>
        <div class="footer col-md-12">
            {% block footer %}© 2018 Le CoinTreau - Tous bleu (surtout Antoine){% endblock %}
        </div>
    </body>
</html>