{% extends '@Site/general.html.twig' %}

{% block title %}
    {{ parent() }} - Détail annonce
{% endblock %}

{% block body %}
    <h3>Détail d'une annonce</h3>
    Titre : {{ ad.title  }}<br>
    Description : {{ ad.description }}<br>
    Ville : {{ ad.city }} {{ ad.zip }}<br>
    Prix : {{ ad.price }} € <br>
    Date de création : {{ ad.dateCreated | date('d/m/Y')}}

{% endblock %}