{% extends '@Site/general.html.twig' %}

{% block title %}
    {{ parent() }} - Liste des annonces
{% endblock %}

{% block body %}
    <div class="search row justify-content-md-center">
            {{ form_start(form) }}
                {{ form_errors(form) }}

                <div class="col-md-6">
                {{ form_row(form.category, {'attr': {'class': 'form-inline'}}) }}
                </div>
                <div class="col-md-6 col-centered">
                {{ form_row(form.title, {'attr': {'class': 'form-inline'}}) }}
                </div>
                <div class="col-md-12 text-center">
                {{ form_row(form.valider) }}
                </div>
            {{ form_end(form) }}
    </div>
    <hr class="col-md-12">
    <div class="ads row">
    {% for ad in all_ad %}
        <div class="ad col-sm-2" onclick="window.location = '{{ path("detail_ad", {"id" : ad.id}) }}';">
            <div class="thumbnail">
                <div class="img">
                    {% if(ad.pictures[0] is not defined ) %}
                        {% set img = asset('img/kitten.jpg') %}
                    {% else %}
                        {% set img = asset('uploads/' ~ ad.pictures[0].file) %}
                    {% endif %}
                    <img src="{{ img }}" alt="Photo_Annonce">
                </div>
                <div class="caption">
                    <h3>{{ ad.title|upper }} - <span class="ville">{{ ad.city|capitalize }}</span></h3>
                    {% set fav_star = "<a href=\""{{ path("add_ad_favoris", {"id" : ad.id}) }}"\" id=\""{{ ad.id }}"\" class=\"glyphicon glyphicon-star-empty\" role=\"button\"></a>" %}
                    {% for fav in ad.favoris %}
                        {% if(fav.id == app.user.id ) %}
                            {% set fav_star = "<a href=\""{{ path("del_ad_favoris", {"id" : ad.id}) }}"\" id=\""{{ ad.id }}"\" class=\"glyphicon glyphicon-star\" role=\"button\"></a>"" %}
                        {% endif %}
                    {% endfor %}
                    {{ fav_star }}"
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}