{% extends '@Site/general.html.twig' %}

{% block title %}
    {{ parent() }} - Liste des annonces
{% endblock %}

{% block body %}
    <div class="search">
        {% form_theme form '@Site/Default/form.html.twig' %}
        {{form(form)}}
    </div>
    <div class="ads">
    {% for ad in all_ad %}
        <div class="ad" id="{{ ad.id }}">
            <a href="{{ path('detail_ad', {'id' : ad.id}) }}">
            <h3>{{ ad.title|upper }} - <span class="ville">{{ ad.city|capitalize }}</span></h3>
            </a>
        </div>
    {% endfor %}
    </div>
{% endblock %}